{#

GenoRing dashboard.

#}

<fieldset id="list-data-files" class="fieldset">
  <legend class="fieldset__legend fieldset__legend--visible">
    <span class="fieldset__label">Data files</span>
  </legend>

  <div class="fieldset__wrapper">
  {% if data_files %}
  <ul>
  {% for data_file in data_files %}
    <li>{{ data_file[2] }}</li>
  {% endfor %}
  </ul>
  {% else %}
  <p>
    No files available. Please use the link below to add new files to the registry.
  </p>
  {% endif %}
  </div>
  
  <div>Uploaded files:
  {% for upload_file in upload_files %}
    {{ upload_file }},
  {% endfor %}
  </div>

  <div>Unregistered files:
  {% for unregistered_file in unregistered_files %}
    {{ unregistered_file }},
  {% endfor %}
  </div>

  <a href="{{ path('genoring.data_processor_form') }}">Add new data files</a><br/>
</fieldset>


<fieldset id="list-datasets" class="fieldset">
  <legend class="fieldset__legend fieldset__legend--visible">
    <span class="fieldset__label">Datasets</span>
  </legend>

  <div class="fieldset__wrapper">
  {% if datasets %}
  <ul>
  {% for dataset in datasets %}
    <li>{{ dataset.id }}</li>
  {% endfor %}
  </ul>
  {% else %}
  <p>
    No datasets available. Please use the link below to add new datasets.
  </p>
  {% endif %}
  </div>
  <a href="{{ path('entity.genoring_dataset.list') }}">Manage datasets</a><br/>
  <a href="{{ path('entity.genoring_dataset.add_form') }}">Add new dataset</a><br/>
</fieldset>

<a href="{{ path('genoring.reload_taxonomy_form') }}">Reload taxonomy data</a><br/>
